






/*input {
	padding-left: 2px;
	background-color: #fff;
	color: #85859c;
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
}*/



#main_content {
	margin-right: 2px;
	width: 100%;
	text-align: center;
	background: #831618;
}

#main_content .h_divider {
	margin-bottom: 2px;
	height: 1px;
	background: #831618;
	overflow: hidden;
}


/* New Item Description */
/*this is for whole page*/
#new_item {
	margin: 0px auto 2px;
	padding: 5px 10px;
	float: left;
	background: #5C4837;
	height:65%;
}
/*this*/

#new_item_header {
	margin-top: 10px;
	
}

#new_item_header h1 {
	color: #e1e1e1;
	font-size: 30px;
}

#new_item_header h2 {
	color: #ED1C24;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Gilda Display', serif;

}

#new_item_image {
	width: 77.5%;
	float: right;
	overflow: hidden;
	text-align: center;
	padding-top:28%;
	background:#666666 url('../images/head2.jpg') no-repeat ;
	height: 100%;
	margin-right: 10px;
}

#new_item_text {
	float: left;
	clear: left;
	width: 18.5%;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	margin-left: 10px;
}

#new_item_link {
	float: left;
	clear: left;
	width: 100%;
	font-weight: bold;
	text-align: right;
}

#new_item_link a {
	text-decoration: none;
}


/* Sub Items Descriptions */
     