


* {
	margin: 5px;
	padding: 0px;
}

body {
	height: 100%;
	background-color: rgb(101, 13, 38);
	color: #80776e;
	font-family: 'Elsie', cursive;
	font-size: 10px;
	text-align: center;
}

a {
	color: #85859c;
	text-decoration: underline;
}

a:hover {
	color: #69699c;
}

@font-face {
	font-family: 'Elsie';
	src: url('../fonts/Elsie-Regular.ttf');
}
@font-face {
	font-family: 'Gilda Display';
	src: url('../fonts/GildaDisplay-Regular.ttf');
	
}

img {
	border: none;
}

p {
	margin: 10px 0px 5px;
	text-align: justify;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
}



/*input {
	padding-left: 2px;
	background-color: #fff;
	color: #85859c;
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
}*/



#main_content {
	margin-right: 2px;
	width: 100%;
	text-align: center;
	background: #831618;
}

#main_content .h_divider {
	margin-bottom: 2px;
	height: 1px;
	background: #831618;
	overflow: hidden;
}


/* New Item Description */
/*this is for whole page*/
#new_item {
	margin: 0px auto 2px;
	padding: 5px 10px;
	float: left;
	background: #5C4837;
	height:75%;
}
/*this*/

#new_item_header {
	margin-top: 10px;
	
}

#new_item_header h1 {
	color: #e1e1e1;
	font-size: 30px;
}

#new_item_header h2 {
	color: #ED1C24;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Gilda Display', serif;

}

#new_item_image {
	width: 77.5%;
	float: right;
	overflow: hidden;
	text-align: center;
	padding-top:28%;
	background:#666666 url('../images/head2.jpg') no-repeat ;
	height: 100%;
	margin-right: 10px;
}

#new_item_text {
	float: left;
	clear: left;
	width: 18.5%;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	margin-left: 10px;
}

#new_item_link {
	float: left;
	clear: left;
	width: 100%;
	font-weight: bold;
	text-align: right;
}

#new_item_link a {
	text-decoration: none;
}


/* Sub Items Descriptions */
     