* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	background-color: #5f564d;
	color: #80776e;
	font-family: 'Elsie', cursive;
	font-size: 10px;
	text-align: center;
}

a {
	color: #85859c;
	text-decoration: underline;
}

a:hover {
	color: #69699c;
}

@font-face {
	font-family: 'Elsie';
	src: url('../fonts/Elsie-Regular.ttf');
}
@font-face {
	font-family: 'Gilda Display';
	src: url('../fonts/GildaDisplay-Regular.ttf');
	
}

img {
	border: none;
}

p {
	margin: 10px 0px 5px;
	text-align: justify;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
}

#container {
	width: 100%;
	border-color: #9e9ec3;
	border-width: 0px 1px 1px;
	border-style: solid;
	background-color:#f0f0d8;
}

/*input {
	padding-left: 2px;
	background-color: #fff;
	color: #85859c;
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
}*/


/* Page Header */

#page_header {
	width: 99%;
	height: 205px;
	color: #fff;
	overflow: hidden;
	background: #CD0911 ;
}

#page_header a {
	color: #fff;
	text-decoration: none;
}

#page_header a:hover {
	color: #e1e1e1;
}


#page_heading h1 {
	width: 20%;
	height: 205px;
	padding-top:50px;
	background:#CD0911  ;
	float: left;
}


#page_heading h2 {
	width: 80%;
	height: 205px;
	padding-top:70px;
	background:#AB1011 ;
	font-size: 30px;
	text-align: center;
}

#page_headerlinks {
	padding-right: 20px;
	padding-top: 25px;
	width: 275px;
	float: right;
	text-align: left;
	word-spacing: -1px;
}

#page_headerlinks ul {
	list-style-type: none;	
}

#page_headerlinks li {
	padding: 0px 10px 0px 9px;
	float: left;
	list-style-type: none;
	background: url('../images/header_toplinks_div.gif') ;
}

#page_headerlinks li.last {
	padding-right: 0px;
	background: none;
}

#page_headersearch {
	padding-right: 30px;
	padding-top: 25px;
	float: right;
	clear: right;
	width: 255px;
	text-align: left;
	word-spacing: -1px;
	overflow : hidden;
}

#page_headersearch h3 {
	float: left;
	font-weight: bold;
	font-size: 12px;
}

#page_headersearch form {
	padding-left: 3px;
	float: left;
}

#page_headersearch input {
	margin-top: 1px;
	padding-left: 2px;
	width: 158px;
	height: 14px;
	float: left;
	border: none;
}

#page_headersearch input.button {
	padding: 0px;
	margin-top: 0px;
	margin-left: 5px;
	width: 34px;
	height: 16px;
	background-color: transparent;
	float: left;
}


/* Main Navigation Menu */

#page_menu {
	margin-bottom: 1px;
	width: 100%;
	height: 30px;
}

#page_menu ul {
	width: 100%;
	height: 30px;
	list-style-type: none;
	overflow: hidden;
}

#page_menu li {
	width: 19.9%;
	height: 30px;
	float: left;
	background: url('../images/menu_background.gif') 0px 0px;
	overflow: hidden;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#page_menu li.last {
	margin-right: 0px;
	width: 130px;
}

#page_menu a {
	padding-top: 3px;
	display: block;
	color: #fff;
	text-decoration: none;
}

#page_menu a:hover {
	color:#CC3300;
}


/*copied*/

nav #login {
  border-right: 1px solid #ddd;
  box-shadow: 1px 0 0 #fff;  
}

nav #login-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  
  text-shadow: 0 1px 0 #fff;
  color: #85859c;
}

nav #signup a {
  border-radius: 0 3px 3px 0;
}

nav #login-trigger {
  border-radius: 3px 0 0 3px;
  color: #fff;
  text-align: center;
	font-size: 18px;
  text-decoration: none;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  background: #fff;
  color: #69699c;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: 0;
  width: 250px;  
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {    
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {    
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
} 

#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}


/* Main Content Area */

#main_content {
	margin-right: 2px;
	width: 100%;
	text-align: center;	
}

#main_content .h_divider {
	margin-bottom: 2px;
	height: 1px;
	background-color: #c2c2cd;
	overflow: hidden;
}


/* New Item Description */

#new_item {
	margin: 0px auto 2px;
	padding: 5px 10px;
	float: left;
}

#new_item_header {
	margin-top: 10px;
}

#new_item_header h1 {
	color: #434367;
	font-size: 30px;
	font-weight: normal;
}

#new_item_header h2 {
	color: #434367;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Gilda Display', serif;

}

#new_item_image {
	width: 72.5%;
	float: right;
	overflow: hidden;
	text-align: center;
	padding-top:28%;
	background:#666666 url('../images/head2.jpg') no-repeat ;
	height: 100%;
}

#new_item_text {
	float: left;
	clear: left;
	width: 18.5%;
	font-size: 20px;
	line-height: 30px;
}

#new_item_link {
	float: left;
	clear: left;
	width: 100%;
	font-weight: bold;
	text-align: right;
}

#new_item_link a {
	text-decoration: none;
}


/* Sub Items Descriptions */
             
#right-content{
	margin-left: 19.8%;
	width: 79.2%;
	background:#666666 url('../images/head2.jpg') no-repeat left;
	height: 625px;
}

/* Page Footer */

#page_footer {
	width: 100%;
	align: center;
	border-top:#993300 1px solid;
	background-color:#f0f0d8;
}

#powered_by {
	padding-top: 17px;
	width: 780px;
	height: 30px;
	color: #9595c2;
	text-align: center;
	
}

#powered_by a {
	color: #9595c2;
}


#tbl	{
	width: 10%;
	margin-left: 40%;
	align: center;
	height: 30%
}
#form-text
{
	padding:10px;
	margin-bottom: 30%;
	
}

#btn {
	font-weight: bold;
	font-size:18px;
	
}

#txt  {
	font-weight: bold;
	font-size: 16px;
}
