* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	background-color: rgb(101, 13, 38);
	color: #80776e;
	font-family: 'Elsie', cursive;
	font-size: 10px;
	text-align: center;
}

a {
	color: #85859c;
	text-decoration: underline;
}

a:hover {
	color: #69699c;
}

@font-face {
	font-family: 'Elsie';
	src: url('../fonts/Elsie-Regular.ttf');
}
@font-face {
	font-family: 'Gilda Display';
	src: url('../fonts/GildaDisplay-Regular.ttf');
	
}

img {
	border: none;
}

p {
	margin: 10px 0px 5px;
	text-align: justify;
}

#showLeft
{
  overflow:hidden;
  position: absolute;
top:0;
right:10px;
width: 10;
float:right;
height: 5%;
left:0; 
/*left:0px
*/}
#showRightPush
{
   /*background:url(login.png) no-repeat;
  */float:right;
  position: absolute;
top:0;
right:10px;
width: 10;
float:right;
height: 5%;

}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#page_header {
	width: 100%;
	height: 205px;
	color: #fff;
	overflow: hidden;
	background: #743C33 ;
}

#page_header a {
	color:#E6E6E6 ;
	text-decoration: none;
}

#page_header a:hover {
	color: #e1e1e1;
}



#page_heading h2 {
	margin-right:auto;
	margin-left:auto;
	width: 80%;
	height: 205px;
	padding-top:70px;
	background:#A85C50 ;
	font-size: 30px;
	text-align: center;
}
.outer {
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0px 0px 10px #4d4d4d;
    -moz-box-shadow: 0px 0px 10px #4d4d4d;
    box-shadow: 0px 0px 10px #4d4d4d;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    border:solid white 3px;
    overflow: hidden;
    padding: 10px;
}
.image {
    
    padding: 0;
     -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
