* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	background-color: rgb(101, 13, 38);
	color: #80776e;
	font-family: 'Elsie', cursive;
	font-size: 10px;
	text-align: center;
}

a {
	color: #85859c;
	text-decoration: underline;
}

a:hover {
	color: #69699c;
}

@font-face {
	font-family: 'Elsie';
	src: url('../fonts/Elsie-Regular.ttf');
}
@font-face {
	font-family: 'Gilda Display';
	src: url('../fonts/GildaDisplay-Regular.ttf');
	
}

img {
	border: none;
}

p {
	margin: 10px 0px 5px;
	text-align: justify;
}

#showLeft
{
  float:left;
}
#showRightPush
{
  float:right;
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#page_header {
	width: 100%;
	height: 205px;
	color: #fff;
	overflow: hidden;
	background: #743C33 ;
}

#page_header a {
	color:#E6E6E6 ;
	text-decoration: none;
}

#page_header a:hover {
	color: #e1e1e1;
}


#page_heading h1 {
	width: 20%;
	height: 205px;
	padding-top:50px;
	background:#743C33  ;
	float: left;
}


#page_heading h2 {
	width: 80%;
	height: 205px;
	padding-top:70px;
	background:#A85C50 ;
	font-size: 30px;
	text-align: center;
}

