@(message: String)

@main("IITP LIBRARY") {

    
   <!-- End of Page Header -->
   
   
   <!-- Start of Page Menu -->
   
   
   
   <!-- End of Page Menu -->
   
   
   
   
   
   <!-- Start of Main Content Area -->
   
   <div id="main_content">
     
     <!-- Start of New Item Description -->
     
     
     <div id="new_item">
       
       <div id="new_item_header">
	 <h1>CENTRAL LIBRARY</h1>
	 <h2>&nbsp;</h2>
       </div>
       
       
       <div id="new_item_text">
	 <p>Central Library, IIT Patna was started in Dec 2008 with approximately 1000 books and 1 Online resorce. Currently the library contains about 5000 books 15 online resources including E-books and E-journals. The Central Library is equiped with modern technology of library automation system with self check in and check out systems.<p>
	 
	   <p>The library is opened between 9.00 AM to 8.30 PM, in weekdays. On Sundays it opens at 9.00 AM and closes at 5.00 PM. Any body can issue/return books at any time using the self check in and check out system. The Central Library provides a healthy and peaceful environment for users to acquire modern knowledge.</p>
	   
	 </div>
	 
	<div id="new_item_image">
	 </div>
       
       <div class="clearthis">&nbsp;</div>
     </div>
     
     
     
     <!-- End of New Item Description -->
     
     
     
     
     </div>
     <!-- End of Main Content Area -->
     
     
     <div class="clearthis">&nbsp;</div>
     
     
     <!-- Start of Page Footer -->

	<div id="page_footer">
	  <div id="powered_by">Copyright &copy; 2009 <a href="http://www.maagraphics.com/illustrations/book-illustrations.htm">Book Illustrations</a> | <a href="http://www.maagraphics.com/print-designs/print-design-services.htm">Press Ad Designs</a> | <a href="http://www.maagraphics.com/site-map.htm">Sitemap</a> | <a href="http://www.maagraphics.com/">Graphic Design</a> by <a href="http://www.maagraphics.com/">www.maagraphics.com</a></div>

	  <div class="clearthis">&nbsp;</div>
	</div>

	<!-- End of Page Footer -->

</div>


}
