
@(form : Form[BookSearch])(books: Option[List[Book]])

@main("Search")("search") {
   
  <div id="new_item_header">
  <h1>Please Enter the Search query</h1>
  </div>
  
  <div id="form-text">
  <br>
  @helper.form(action = routes.BetLiMSApplication.searchPost(),'id -> "txt") {
    @helper.inputText(form("title"))<br>
    @helper.inputText(form("isbn"))<br>
    @helper.inputText(form("author"))<br>
    <br>
    <button id="btn" type="submit">Search</button>
  }
  </div>
  
  
    @books match {
      case Some(b) => { 
	<div class="container"> 
  <div class="clear"></div> 
   
        @for(book <- b) {
        <div class="left">
   
	     <div class="title">Title: @book.title </div>
             <div class="author">Author: @book.author </div>
             <div class="copies">No. of Copies: @book.copies </div>
             Publisher: 
             <div class="right"><input type="checkbox" /></div>
  </div>
  
  
        }
  <div class="clear"></div>   
</div>
  
      }
      case None => {}
     }
    <div class="grow">{
    <button id="grow" type="submit">Issue Books</button></div>
    }
}