
@(form : Form[BookSearch])(books: Option[List[Book]])

@main("Search") {
   
  <div id="new_item_header">
  <h1>Please Enter the Search query</h1>
  </div>
  
  <div id="form-text">
  <br>
  @helper.form(action = routes.BetLiMSApplication.searchPost(),'id -> "txt") {
    @helper.inputText(form("title"))<br>
    @helper.inputText(form("isbn"))<br>
    @helper.inputText(form("author"))<br>
    <br>
    <button id="btn" type="submit">Search</button>
  }
  </div>
  
  
    @books match {
      case Some(b) => { 
      
        @for(book <- b) {
        <div id="tbl">
    <table border="4px" align="center" topmargin="10px">
    <thead>
    <tr>
      <th colspan="3">Search Results</th>
    </tr>
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Number of available copies</td>      
     </tr> 
    </thead>
    
    <tbody>
          <tr>
            <td> @book.title </td>
            <td> @book.author </td>
            <td> @book.copies </td>
          </tr> 
      </tbody>
  </table>
  </div>
        }
     
      }
      case None => {}
     }
    
}