
@(form : Form[BookSearch])(books: Option[List[Book]])

@headtemplate("stylesheet.css") {
   <img src="/home/s2/Documents/html data/logo.jpg">
  <h1>Welcome to IIT Patna Library</h1>
  <h2>Please Enter the Search query</h2>
  
  @helper.form(action = routes.BetLiMSApplication.searchPost()) {
    @helper.inputText(form("title"))
    @helper.inputText(form("isbn"))
    @helper.inputText(form("author"))
    <button type="submit">Search</button>
  }
  <table border="4px" align="center" topmargin="10px">
    <thead>
    <tr>
      <th colspan="3">Search Results</th>
    </tr>
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Number of available copies</td>      
     </tr> 
    </thead>
    
    <tbody>
    @books match {
      case Some(b) => { 
        @for(book <- b) {
          <tr>
            <td> @book.title </td>
            <td> @book.author </td>
            <td> @book.copies </td>
          </tr>  
        }
      }
      case None => {}
     }
    </tbody>
  </table>
}