form
{
	margin:200px 200px 200px 700px;
	 color:	#009acd;
}
img
{
  margin:100px 200px 0px 650px;
  
}
h2
{
  
  margin:100px 200px 0px 650px;
  color:	#009acd;
}
h1
{
 
  margin:100px 200px 0px 650px;
   color:	#009acd;
}
body
{
 background-image:url("/home/s2/Documents/html data/1.jpeg");
}
table
{
   color:	#009acd;
}